$animationDuration: 0.25s;

.ui-view-container {
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
}

[ui-view].ng-enter {
    animation: fadeInUp $animationDuration;
}

[ui-view].ng-enter-active {
    animation: fadeInUp $animationDuration;
}

[ui-view].ng-leave {
    animation: fadeOutUp $animationDuration;
}

[ui-view].ng-leave-active {
    animation: fadeOutUp $animationDuration;
}
