.modal-btn-container {
    border: none;
    width: 5rem;
    height: 3rem;
    background: transparent;
    text-align: center;
    margin: 2rem auto;
    .modal-open-button {
        width: 100%;
        height: 100%;
        background: $darkPrimaryColor;
        color: $textPrimaryColor;
        border: none;
        font: {
            size: 1em;
        }
        border-radius: 0.25rem;
        transition: 0.5s all ease;
        &:hover {
            @include card(2);
            cursor: pointer;
            background: $accentColor;
        }
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
}

.modal-container {
    position: absolute;
    display: block;
    width: 16rem;
    height: 10rem;
    background: $darkPrimaryColor;
    border-radius: 0.25rem;
    top: 50vh;
    left: 50vw;
    @include card(1);
    margin: {
        left: -8rem;
        top: -5rem;
    }
    animation: fadeInUp 0.3s;
    h3 {
        margin: {
            top: 1rem;
        }
        color: $textPrimaryColor;
    }
    text-align: center;
    .modal-input {
        padding: 0.25rem;
        border-radius: 0.25rem;
        outline: none;
        border: none;
        width: 90%;
        display: block;
        margin: {
            left: auto;
            right: auto;
            top: 1rem;
        }
    }
    .modal-button {
        background: $darkPrimaryColor;
        color: $textPrimaryColor;
        padding: 0.5rem;
        border-radius: 0.25rem;
        box-shadow: none;
        border: none;
        margin: {
            top: 1rem;
        }
        font: {
            size: 1.2em;
            weight: 300;
        }
        transition: 0.5s all ease;
        &:hover {
            @include card(3);
            background-color: $accentColor;
            cursor: pointer;
        }
    }
}

.modal-container.ng-hide {
    animation: fadeOutUp 0.3s;
}
