.main-container {
    position: relative;
    top: 2.5rem;
    width: 100%;
    height: auto;
    overflow: hidden;
    h2 {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.main-warning {
    background: {
        color: $warningColor;
    }
    padding: 1rem;
    color: darken($warningColor, 15);
    @include card(2);
}
