.navbar {
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
    height: 3rem;
    background: $darkPrimaryColor;
    padding: 0 2rem;
    ul {
        list-style: none;
    }
    @include card(1);
}

.navbar-item {
    line-height: 3rem;
    color: $textPrimaryColor;
    text-decoration: none;
    font: {
        size: 1.5em;
    }
    margin: {
        right: 1.5rem;
    }
}

.navbar-align-left {
    display: inline;
    float: left;
}

.navbar-align-right {
    display: inline;
    float: right;
}

.navbar-item-active {
    color: $accentColor;
}

.navbar-username {
    font: {
        size: 1em;
        weight: 300;
    }
}
